<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
            <form th:action="@{/user/edit(id=${user.getId()})}" method="get" style="display:inline;">
                <button type="submit">Update User</button>
            </form>
            <form th:action="@{/user/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.getId()}"/>
                <button type="submit">Delete User</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/user/new">Create New User</a>
</body>
</html>