<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="POST" th:action="@{/user/edit}" th:object="${user}">
    <input type="hidden" name="id" th:value="${user.getId()}"/>
    <label for="name">Enter name</label>
    <input type="text" id="name" th:field="*{name}"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" id="age" th:field="*{age}"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
<br/>
<a href="/user">Back to User List</a>
</body>
</html>